.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 80%; /* Adjust as needed */
    max-width: 600px; /* Adjust maximum width for the popup */
    position: relative;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    color: #333; /* Default color for the close icon */
    border: none; /* Remove default button styles */
    background: none; /* Transparent background */
    padding: 0; /* Remove padding */
    width: 40px; /* Set width for the button */
    height: 40px; /* Set height for the button */
}
